@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Shadows+Into+Light&display=swap');

body{

    background: urL('lib/dancingLlamaOne.gif') no-repeat center center fixed black;
    background-size: contain;
}
/* div {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;

    text-align: center; 
} */



#textOne {
    background-color: grey;
    color: cyan;
    font-family: 'Shadows Into Light', cursive;
    width: 50px;

}
#textTwo {
    font-family: 'Amatic SC', cursive;
font-family: 'Shadows Into Light', cursive;

}
